{% extends 'inventory/layout.html' %}
{% block title %}
Ингредиенты
{% endblock %}

{% block body %}

<div class="h1">
    <h1>Ингредиенты</h1>
</div>
<div><a class="btn btn-primary btn-lg right" href="{% url 'ingredient_new' %}" role="button">Добавить ингредиент</a>
</div>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Название</th>
            <th>Доступное количество</th>
            <th>Единица измерения</th>
            <th>Стомость, руб.</th>
            <th>Редактировать</th>
            <th>Удалить</th>
        </tr>
    </thead>
    {% for ingredient in object_list %}
    <tr>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.quantity_available }}</td>
        <td>{{ ingredient.unit }}</td>
        <td>{{ ingredient.unit_price }} за {{ ingredient.unit }}</td>
        <td><a href="{% url 'ingredient_edit' ingredient.id %}"><button
                    class="btn btn-primary">Редактировать</button></a>
        </td>
        <td><a href="{% url 'ingredient_delete' ingredient.id %}">❌</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}